@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-gif-background {
    background-image: url('/home/forge/default/public/img/dirtoverlay.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 640px) {
    .bg-gif-background {
        background-size: cover;
    }
}
